#about {
    padding-left: 15%;
    padding-right: 25%;
    min-height: 65vh;
}

.about-bio-container{
    display: flex;
    flex-direction: row;
}

.about-bio{
    color: rgba(245, 241, 237, 0.6);
    font-size: 18px;
    max-width: 900px;
    text-align: justify;
}

.list{
    padding-top: 20px;
}

.skills{
    color: rgba(245, 241, 237, 0.6);
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 10px));
    padding-left: 0px;
}

.skills li {
    display: flex;
    align-items: center;
    position: relative;
    list-style-type: none;
}


.skills li svg {
    margin-right: 8px; 
    margin-top: -5px; 
}

.skills li:hover{
    transform: translateY(-5px);
    color: #F5F1ED;
}

.profile-img {
    padding-left: 40px;
 }

 .profile-img:hover {
    filter: blur(1.5px);
 }
  
.profile-img img {
    max-width: 300px;
    border-radius: 20px;
    margin-left: 40px;
    box-shadow: inset 0 0 10px 10px #000000e8;
}

@media only screen and (max-width: 600px) {

#about {
    height: unset;
}
  
.about-bio-container {
    display: unset;
 
}
  
.profile-img img {
    display: none;
}
}

