html {
    scroll-behavior: smooth;
    background-color:  #000000e8;
}

body {
    margin: 0; 
    height: 100vh;
    font-family: 'NTR', sans-serif;
}

#header{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 10%;
    padding-left: 15%;
    min-height: 100vh;
}


.header-bio{
    text-align: justify;
    max-width: 45%;
    padding-bottom: 50px;
}