html {
    scroll-behavior: smooth;
    background-color:  #000000e8;
}

body {
    margin: 0; 
    height: 100vh;
    font-family: 'NTR', sans-serif;
}

/* header css */
#header{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 10%;
    padding-left: 15%;
    min-height: 100vh;
}

.header-bio{
    text-align: justify;
    max-width: 45%;
    padding-bottom: 50px;
}

/* nav css */
  .navbar{
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    position: fixed;
    right: 0;
    padding-right: 5%;
    bottom: 15%;
  }

  .navbar-items a {
    text-decoration: none; 
    color: #F5F1ED;
    font-weight: bold;
  }
  
  .navbar-items{
    display: flex;
    flex-direction: column;
    text-align: right;
    letter-spacing: 0em;
    line-height: 1.8em;
    padding: 0.5em;
  }

  .nav-icons{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-icons a {
    margin-right:8%; 
  }